{% load static %}
{% include 'others/header.html' %}
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}
        <!-- Content Column -->
        <div class="col-md-6">

            <div class="side_panel_top text-center">
                Mohammed Atiquzzaman
            </div>
            <br>
            <div class="col-md-0 text-center" style="display: block;margin-left: auto;margin-right: auto;width: 50%">
                <img class="img-rounded" src="{% static 'images/speakers/MohammedAtiquzzaman.jpg' %}" style="width: 60%">
            </div>
            <br><br>
            <div>
                <p>
                    <b>Title: </b>
                    Internet of Space Things: Challenges and Future Directions
                </p>
                <p>
                    <b>Abstract: </b>
                    Data communications between Earth and equipment on spacecrafts have traditionally been carried out through dedicated links. Shared links using
                    Internet Protocol-based communication offers a number of advantages over dedicated links. The movement of equipment on spacecrafts however gives rise
                    to mobility management issues.
                    <br><br>
                    This talk will discuss various challenges to connecting space assets to the terrestrial Internet. The talk discuss possible solutions to mobility
                    management of things in space, including the mobility management scheme of space assets developed at University of Oklahoma in conjunction with the
                    National Aeronautics and Space Administration. Network in motion in both terrestrial and space environment such as those encountered in airplanes and
                    trains will be discussed.
                </p>
                <p>
                    <b>Biography: </b>
                    Mohammed Atiquzzaman obtained his M.S. and Ph.D. in Electrical Engineering and Electronics from the University of Manchester (UK) in 1984 and 1987,
                    respectively. He currently holds the Edith J Kinney Gaylord Presidential professorship in the School of Computer Science at the University of
                    Oklahoma.
                    <br><br>
                    Dr. Atiquzzaman is the Editor-in-Chief of Journal of Networks and Computer Applications, the founding Editor-in-Chief of Vehicular Communications, and
                    serves/served on the editorial boards of many journals including IEEE Communications Magazine, IEEE Transactions on Mobile Computing, IEEE Journal on
                    Selected Areas in Communications. He co-chaired the IEEE High Performance Switching and Routing Symposium, IEEE Globecom and ICC, IEEE VTC and the
                    SPIE Quality of Service over Next Generation Data Networks conferences. He was the panels co-chair of INFOCOM, and is/has been in the program
                    committee of many international conferences, and serves on the review panels at the National Science Foundation.
                    <br><br>
                    Dr. Atiquzzaman received IEEE Communication Society's Fred W. Ellersick Prize, IEEE Distinguished Technical Achievement Award, IEEE Satellite
                    Communications Technical Contribution Award, and NASA Group Achievement Award for "outstanding work to further NASA Glenn Research Center's effort in
                    the area of Advanced Communications/Air Traffic Management's Fiber Optic Signal Distribution for Aeronautical Communications" project. He is the
                    co-author of the book “Performance of TCP/IP over ATM networks” and has over 350 refereed publications, available at
                    <a href="https://www.cs.ou.edu/~atiq">www.cs.ou.edu/~atiq</a>.
                    <br><br>
                    His current research interests are in areas of transport protocols, wireless and mobile networks, ad hoc networks, satellite networks, power-aware
                    networking, and optical communications. His research has been funded by National Science Foundation (NSF), National Aeronautics and Space
                    Administration (NASA), U.S. Air Force, Cisco, Honeywell, Oklahoma Department of Transportation and Oklahoma Highway Safety Office.
                </p>
            </div>
        </div>
        {% include 'others/right_sidebar.html' %}
    </div>
</div>
{% include 'others/footer.html' %}