{% load static %}
{% include 'others/header.html' %}
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}
        <!-- Content Column -->
        <div class="col-md-6">

            <div class="side_panel_top text-center">
                Prof. Muhammad H Rashid
            </div>
            <br>
            <div class="col-md-0 text-center" style="display: block;margin-left: auto;margin-right: auto;width: 50%">
                <img class="img-rounded" src="{% static 'images/speakers/MuhammadHRashid.jpg' %}" style="width: 60%">
            </div>
            <br><br>
            <div>
                <p>
                    <b>Biography: </b>
                    Muhammad H. Rashid is employed by the Florida Polytechnic University, as Professor and Head of Electrical and Computer Engineering Department.
                    Previously, he was employed by the University of Florida as Professor and Director of UF/UWF Joint Program. Rashid received B.Sc. degree in Electrical
                    Engineering from the Bangladesh University of Engineering and Technology, and M.Sc. and Ph.D. degrees from the University of Birmingham in UK.
                    Previously, he worked as Professor of Electrical Engineering and the Chair of the Engineering Department at Indiana University- Purdue University at
                    Fort Wayne. Also, he worked as Visiting Assistant Professor of Electrical Engineering at the University of Connecticut, Associate Professor of
                    Electrical Engineering at Concordia University (Montreal, Canada), Professor of Electrical Engineering at Purdue University Calumet, and Visiting
                    Professor of Electrical Engineering at King Fahd university of Petroleum and Minerals (Saudi Arabia), as a design and development engineer with Brush
                    Electrical Machines Ltd. (England, UK), a Research Engineer with Lucas Group Research Centre (England, UK), a Lecturer and Head of Control Engineering
                    Department at the Higher Institute of Electronics (in Libya & Malta). Dr. Rashid is actively involved in teaching, researching, and lecturing in
                    electronics, power electronics, and professional ethics. He has published 18 books listed in the US Library of Congress and more than 160 technical
                    papers. His books are adopted as textbooks all over the world. His book, Power electronics has translations in Spanish, Portuguese, Indonesian,
                    Korean, Italian, Chinese, Persian, and Indian edition. His book, Microelectronics has translations in Spanish in Mexico and in Spain, Italian, and
                    Chinese. He has received many invitations from foreign governments and agencies to give keynote lectures and consult, by foreign universities to serve
                    as an external examiner for undergraduate, master’s and Ph.D. examinations, by funding agencies to review research proposals, and by U.S. and foreign
                    universities to evaluate promotion cases for professorship. Dr. Rashid has worked as a regular employee or consultant in Canada, Korea, United
                    Kingdom, Singapore, Malta, Libya, Malaysia, Saudi Arabia, Pakistan, and Bangladesh. Dr. Rashid has traveled to almost all States in USA and many
                    countries to lecture and present papers (Japan, China, Hong Kong, Indonesia, Taiwan, Malaysia, Thailand, Singapore, India, Pakistan, Turkey, Saudi
                    Arabia, United Arab Emirates, Qatar, Libya, Jordan, Egypt, Morocco, Malta, Italy, Greece, United Kingdom, Brazil, and Mexico). He is a Fellow of the
                    Institution of Engineering & Technology (IET, UK) and a Life Fellow of the Institute of Electrical and Electronics Engineers (IEEE, USA). He was
                    elected as an IEEE Fellow with the citation “Leadership in power electronics education and contributions to the analysis and design methodologies of
                    solid-state power converters.” Dr. Rashid is the recipient of the 1991 Outstanding Engineer Award from The Institute of Electrical and Electronics
                    Engineers (IEEE). He received the 2002 IEEE Educational Activity Award (EAB) Meritorious Achievement Award in Continuing Education with the following
                    citation “for contributions to the design and delivery of continuing education in power electronics and computer-aided-simulation”. He is the
                    recipient of the 2008 IEEE Undergraduate Teaching Award with citation: For his distinguished leadership and dedication to quality undergraduate
                    electrical engineering education, motivating students and publication of outstanding textbooks. He is also the recipient of the IEEE 2013 Industry
                    Applications Society Outstanding Achievement Award. Dr. Rashid is an ABET program evaluator for electrical and computer engineering (and also from
                    1995-2000) and was an engineering evaluator for the Southern Association of Colleges and Schools (SACS, USA). He is also an ABET program evaluator for
                    (general) engineering program. He is the Series Editors of Power Electronics and Applications, and Nanotechnology and Applications with the CRC Press.
                    He serves as the Editorial Advisor of Electric Power and Energy with Elsevier Publishing. He lectures and conducts workshops on Outcome-Based
                    Education (OBE) and its implementations including assessments. Dr. Rashid is a Distinguished Lecturer for the IEEE Education Society and a Regional
                    Speaker (previously Distinguished Lecture) for the IEEE Industrial Applications Society. He also authored a book on “The Process of Outcome-Based
                    Education – Implementation, Assessment and Evaluations”.2012 UiTM Press, Malaysia.
                </p>
            </div>
        </div>
        {% include 'others/right_sidebar.html' %}
    </div>
</div>
{% include 'others/footer.html' %}