{% load static %}
{% include 'others/header.html' %}
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}
        <!-- Content Column -->
        <div class="col-md-6">

            <div class="side_panel_top text-center">
                Prof. Swagatam Das
            </div>
            <br>
            <div class="col-md-0 text-center" style="display: block;margin-left: auto;margin-right: auto;width: 50%">
                <img class="img-rounded" src="{% static 'images/speakers/SwagatamDas.jpg' %}" style="width: 60%">
            </div>
            <br><br>
            <div>
                <p>
                    <b>Biography: </b>
                    Swagatam Das received the B. E. Tel. E., M. E. Tel. E (Control Engineering specialization) and Ph. D. degrees, all from Jadavpur University, India, in
                    2003, 2005, and 2009 respectively. Swagatam Das is currently serving as an associate professor and Head of the Electronics and Communication Sciences
                    Unit of the Indian Statistical Institute, Kolkata, India. His research interests include evolutionary computing and machine learning. Dr. Das has
                    published more than 300 research articles in peer-reviewed journals and international conferences. He is the founding co-editor-in-chief of Swarm and
                    Evolutionary Computation, an international journal from Elsevier. He has also served as or is serving as the associate editors of the IEEE
                    Transactions on Cybernetics, Pattern Recognition (Elsevier), Neurocomputing (Elsevier), Information Sciences (Elsevier), IEEE Trans. on Systems, Man,
                    and Cybernetics: Systems, and so on. He is an editorial board member of Information Fusion (Elsevier), Progress in Artificial Intelligence (Springer),
                    Applied Soft Computing (Elsevier), Engineering Applications of Artificial Intelligence (Elsevier), and Artificial Intelligence Review (Springer). Dr.
                    Das has 24,000+ Google Scholar citations and an H-index of 74 till date. He has been associated with the international program committees and
                    organizing committees of several reputed international conferences including NeurIPS, AAAI, AISTATS, ACM Multimedia, BMVC, IEEE CEC, GECCO, etc. He
                    has acted as guest editors for special issues in journals like IEEE Transactions on Evolutionary Computation and IEEE Transactions on SMC, Part C. He
                    is the recipient of the 2012 Young Engineer Award from the Indian National Academy of Engineering (INAE). He is also the recipient of the 2015 Thomson
                    Reuters Research Excellence India Citation Award as the highest cited researcher from India in Engineering and Computer Science category between 2010
                    to 2014. He received the best Associate Editor award for the IEEE Transactions on Cybernetics from IEEE Systems, Man, and Cybernetics Society in 2021.
                </p>
            </div>
        </div>
        {% include 'others/right_sidebar.html' %}
    </div>
</div>
{% include 'others/footer.html' %}