{% load static %}
{% include 'others/header.html' %}
<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}

        <!-- Content Column -->
        <div class="col-md-6">

            <h2 class="section_h text-center">About ICCIT</h2>
            <p class="text-center" style="font-size: 20px">
                International Conference on Computer and Information Technology (ICCIT)
            </p>
            <p>
                International Conference on Computer and Information Technology (ICCIT) actually started its journey in
                the
                year 1998. ICCIT has evolved from the National Conference on Computer and Information Systems (NCClS)
                which
                was held in 1997 at the Dhaka University, Bangladesh. Since 1998, the conference is being organized
                every
                year by different public and private universities.
            </p>

            <p>
                ICCIT 2021 will be held at North South University, Dhaka, Bangladesh to provide a
                unique opportunity for the computer and information technology professionals, scientists, engineers,
                educators, researchers and students from all over the world to exchange their scientific ideas, views
                and
                thoughts with fellow researchers and participants. This conference will address some of the more
                relevant
                and state-of-the-art issues and topics involved in computer science and engineering and information
                technology.
            </p>
            <p style="font-size: 18px">
                ICCIT Series in Bangladesh
            </p>
            <p>
                2020 - Ahsanullah University of Science and Technology<br>
                2019 – Southeast University, Bangladesh<br>
                2018 – United International University (UIU), Bangladesh<br>
                2017 – University of Asia Pacific, Bangladesh<br>
                2016 – North South University, Bangladesh<br>
                2015 – Military Institue of Science and Technology<br>
                2014 – Daffodil International University<br>
                2013 – Khulna University<br>
                2012 – University of Chittagong<br>
                2011 – American International University-Bangladesh<br>
                2010 – Ahsanullah University of Science and Technology<br>
                2009 – Independent University Bangladesh & MIST<br>
                2008 – Khulna University of Engineering and Technology<br>
                2007 – United International University<br>
                2006 – Independent University, Bangladesh<br>
                2005 – Islamic University of Technology<br>
                2004 – BRAC University<br>
                2003 – Jahangirnagar University<br>
                2002 – East West University<br>
                2001 – University of Dhaka<br>
                2000 – North South University<br>
                1999 – Shahjalal University of Science and Technology<br>
                1998 – Bangladesh University of Engineering and Technology<br>
                1997 – University of Dhaka<br>
            </p>

        </div>

        {% include 'others/right_sidebar.html' %}
    </div>
</div>

{% include 'others/footer.html' %}