{% load static %}
{% include 'others/header.html' %}
<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}

        <!-- Content Column -->
        <div class="col-md-6">

            <h2 class="section_h text-center">About NSU</h2>
            <p class="text-center" style="font-size: 20px">
                North South University
            </p>
            <p>
                North South University (NSU), the first private university in Bangladesh, was established in 1992 by the
                then Foundation for Promotion of Education and Research (FPER), a charitable, non-profit, non-commercial
                and non-political organization. The FPER later was renamed as the NSU Foundation and is presently called
                The North South Foundation for Education and Research. The Foundation is comprised of a group of eminent
                industrialists, prominent patrons of education, notable philanthropists, widely experienced academics
                and senior civil servants of the country. In the early 1990s, they had a dream to set up a world-class
                university as a center of excellence in higher education in the private sector. Their dedication,
                tireless efforts, and hard work paved the way for the approval of the establishment of NSU.
            </p>
            <p>
                The University was formally inaugurated on 10 February 1993 and started its journey in a very modest
                way. Later, in 2012, the NSU Foundation, in the light of the PUA 2010 and as instructed by the Ministry
                of Education and the University Grants Commission, formed the NSU Trust with the same group of people as
                the Foundation and vested the entire management and administration of NSU in its Board of Trustees
                (BOT).
            </p>
            <p>
                The Honorable President of the People's Republic of Bangladesh is the Chancellor of NSU.
                Professor Atique Islam is the current Vice-Chancellor of NSU. He was the Pro Vice-Chancellor
                (Engagement) of Edith Crown University in Australia. Earlier he served as the Dean of the Faculty of
                Business and Government at the University of Canberra. Over his long academic career he served at the
                University of Sydney, University of New South Wales, Curtin University, University of Canterbury and the
                National University of Singapore. He has a strong track record in academic administration and
                negotiating international programs.
            </p>
            <p>
                In general, NSU is modeled on US universities and follows their academic features such as semester
                systems, credit hours, letter grades, etc. When first introduced, its curricula of undergraduate
                programs such as Economics, Business, and Computer Science were largely modeled on the curricula of the
                University of Illinois at Urbana-Champaign and were duly approved by the University Grants Commission
                (UGC) of Bangladesh, the highest accrediting authority of higher education of the country. NSU has an
                International Advisory Board, comprised of scholars from all over the world, to counsel and to suggest
                improvements on academic matters of the university. The university is delivering a substantial general
                education curriculum, has a strategic plan, and has initiated and implemented student instructional
                learning assessment for degree programs and courses and is in the process of developing the
                infrastructure for evaluation of institutional effectiveness for its institutional accreditation.
            </p>
        </div>

        {% include 'others/right_sidebar.html' %}
    </div>
</div>

{% include 'others/footer.html' %}