{% load static %}
{% include 'others/header.html' %}
<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}

        <!-- Content Column -->
        <div class="col-md-6">

            <h2 class="section_h text-center">Accepted Papers</h2>
            <p class="text-center" style="font-size: 16px">
                Please return after the notification of acceptance date to find a list of accepted paper titles.
            </p>
        </div>

        {% include 'others/right_sidebar.html' %}
    </div>
</div>

{% include 'others/footer.html' %}