{% load static %}
{% include 'others/header.html' %}
<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}


        <!-- Content Column -->
        <div class="col-md-6">

            <h2 class="section_h text-center">Best Paper Award</h2>
            <ul id="award_menu">
                <li>
                    <a class="side_nav_links" style="font-size:16px">
                        <b>Dr. Fatema Rashid Best Paper Award</b>
                    </a>
                    <br>
                    <p>
                        <b>Paper ID:</b> 94 <br>
                        <b>Title:</b> Hybrid Feature Vector Space based Ensemble Machine Learning Approach for Sentiment Analysis on Amazon Product Reviews <br>
                        <b>Authors:</b> Md. Nazmul Islam and Md. Mahmudul Hasan <br>
                    </p>
                </li>
                <li>
                    <a class="side_nav_links" style="font-size:16px">
                        <b>Prof. Syed Mahbubur Rahman Best Paper Award</b>
                    </a>
                    <br>
                    <p>
                        <b>Paper ID:</b> 135 <br>
                        <b>Title:</b> A Fast Charging Icon-shaped  Slotted Patch Antenna for Bluetooth/Wi-Fi/WiMAX Applications <br>
                        <b>Authors:</b> Liton Chandra Paul, Sarker Saleh Ahmed Ankan, Sk. A. Shezan, Md. Zulfiker Mahmud and Md. Samsuzzaman<br>
                    </p>
                </li>
            </ul>

        </div>

        {% include 'others/right_sidebar.html' %}
    </div>
</div>

{% include 'others/footer.html' %}