{% load static %}
{% include 'others/header.html' %}
<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}

        <!-- Content Column -->
        <div class="col-md-6">

            <h2 class="section_h text-center">Call for Paper</h2>
            <p>
                ICCIT 2021 will provide a forum for researchers and professionals from both academia and industry to
                exchange up-to-date knowledge and experience in the field of Computer and Electrical Engineering.
                Prospective authors are invited to submit original technical papers for presentation at the conference.
                ICCIY 2021 will be held from December 18-20, 2021 in a virtual mode. All accepted and presented papers
                will be submitted for inclusion in IEEE Xplore® Digital Library (pending approval).
            </p>
            <p>
                ICCIT 2021 invites papers from all areas of Computer and Electrical Engineering. Topics of interest
                include, but are not limited to:
            </p>
            <p style="margin-left: 2em">
                - Algorithms<br>
                - Artificial Intelligence<br>
                - Antenna, Microwave & RF Engineering<br>
                - Bio-Informatics<br>
                - Blockchain<br>
                - Cloud Computing<br>
                - Computer Graphics and Multimedia<br>
                - Computer Networks and Data Communication<br>
                - Computer Vision<br>
                - Cryptography and Network Security<br>
                - Data Mining/Data Analytics<br>
                - Database Systems<br>
                - Deep Learning/Machine Learning<br>
                - Digital Signal and Image Processing<br>
                - Digital Systems and Logic Design<br>
                - Distributed and Parallel Processing<br>
                - E-Commerce and E-Governance<br>
                - Embedded System Design<br>
                - Fuzzy Systems<br>
                - Gaming<br>
                - Grid and Scalable Computing<br>
                - Human-Computer Interaction<br>
                - ICY Education and its Outcome Assessment<br>
                - Intelligent Information Systems<br>
                - Internet and Web Applications<br>
                - Internet of Things<br>
                - Multimedia Systems and Services<br>
                - Neural Networks<br>
                - Pattern Recognition/Tracking<br>
                - Robotics and Control<br>
                - Satellite Communication<br>
                - Security and Information Assurance<br>
                - Software Engineering<br>
                - VLSI/ULSI<br>
                - Wireless and Mobile Communication<br>
                - Wireless Sensor Networks
            </p>

        </div>

        {% include 'others/right_sidebar.html' %}
    </div>
</div>

{% include 'others/footer.html' %}