{% load static %}
{% include 'others/header.html' %}
<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}


        <!-- Content Column -->
        <div class="col-md-6">

            <h2 class="section_h text-center">Camera Ready Paper Submission Guidelines</h2>
            <div>
                <p>
                    <b>(1) Prepare PDF :</b>
                    <br><br>
                    Prepare the PDF of the camera ready version of your revised paper according to your reviewers’ comments. Your PDF file must be created and verified by
                    <a style="color: #049a18; font-weight: 600" href="https://ieee-pdf-express.org/" target="_blank">IEEE PDF eXpress</a> before submitting. Please use
                    the
                    <b>Conference ID: 54785X</b> while preparing PDF using <a style="color: #049a18; font-weight: 600" href="https://ieee-pdf-express.org/"
                                                                              target="_blank">
                    IEEE PDF eXpress</a>. While making the final paper, do not add page numbers, add all authors with affiliations, make in proper IEEE Template for the
                    conference, etc.
                </p>
                <p>
                    Submissions must follow standard IEEE conference templates (Please download and use A4 Size Template).
                    The manuscript template is provided in the following links:
                </p>
                <p>
                    <a href="https://www.ieee.org/content/dam/ieee-org/ieee/web/org/conferences/Conference-template-A4.doc">
                        MS Word (A4)
                    </a>
                    <br>
                    <a href="https://www.ieee.org/content/dam/ieee-org/ieee/web/org/conferences/Conference-LaTeX-template_7-9-18.zip">
                        Latex
                    </a>
                </p>
                <p>
                    For more information visit
                    <a href="http://www.ieee.org/conferences_events/conferences/publishing/templates.html">
                        IEEE Conference Templates.
                    </a>
                </p>
            </div>
            <br>
            <div>
                <p>
                    <b>(2) Copyright Information (at header and footer) :</b>
                    <br><br>
                    ICCIT and IEEE do not permit manuscripts included in its conference proceedings to be simultaneously under review for another conference, journal, or
                    other forms of publication. Once a case of multiple submissions has been established, the paper(s) in question will be immediately declined for
                    publication by the ICCIT and IEEE followed by appropriate disciplinary action (including notification to the author’s affiliated institution).
                </p>
                <p>
                    <b style="text-decoration: underline">
                        Header:
                    </b>
                    Authors are requested to include the conference title at the <b>top-right</b> side of the first page of each paper as follows:
                </p>
                <p>
                    <b>2021 24th International Conference on Computer and Information Technology (ICCIT), 18-20 December, 2021.</b>
                </p>
                <p>
                    <b style="text-decoration: underline">
                        Footer:
                    </b>
                    Authors are requested to include the conference title at the <b>top-right</b> side of the first page of each paper as follows:
                </p>
                <ul>
                    <li>For papers in which all authors are employed by the US government, the copyright notice is:
                        <br><b>US. Government work not protected by U.S. copyright</b>
                    </li>
                    <li>For papers in which all authors are employed by a Crown government (UK, Canada, and Australia), the copyright notice is:
                        <br><b>978-1-6654-9435-9/21/$31.00 ©2021 Crown</b>
                    </li>
                    <li>For papers in which all authors are employed by the European Union, the copyright notice is:
                        <br><b>978-1-6654-9435-9/21/$31.00 ©2021 European Union</b>
                    </li>
                    <li>For all other papers the copyright notice is:
                        <br><b>978-1-6654-9435-9/21/$31.00 ©2021 IEEE</b>
                    </li>
                </ul>
                <p>
                    [Please write the appropriate copyright clearance code notice on the bottom, i.e. footer of the first page <b>(left bottom position)</b> of each paper
                    according to the guidelines set forth in the Cataloging/Copyright Instructions for an IEEE Conference Proceeding.]. A
                    <a style="font-weight: 600" href="{% static 'files/Sample_First_Page.pdf' %}" target="_blank">sample</a> is given for your reference.
                </p>
            </div>
            <br>
            <div>
                <b>(3) Copyright Form :</b>
                <br><br>
                Steps to complete the IEEE copyright agreement via EasyChair
                <br><br>
                <b>Step 1:</b> The corresponding author will receive an e-mail address from EasyChair like this
                <br><br>
                <div>
                    <img width="94%" src="{% static 'images/steps/step1.png' %}">
                </div>
                <br>
                <b>Step 2:</b> After Logging in to the EasyChair account please access the Alerts menu
                <br><br>
                <div>
                    <img width="94%" src="{% static 'images/steps/step2.png' %}">
                </div>
                <br>
                <b>Step 3:</b> Within the Alerts menu you will see a “View” link. Follow the “view” link to view or respond.
                <br><br>
                <div>
                    <img width="94%" src="{% static 'images/steps/step3.png' %}">
                </div>
                <br>
                <b>Step 4:</b> Access the “Sign Agreement” by clicking the “view” link
                <br><br>
                <div>
                    <img width="94%" src="{% static 'images/steps/step4.png' %}">
                </div>
            </div>

            <p>
                Press the Button “Sign IEEE Copyright Form” to sign it. This will be redirected to the IEEE website for signing and after the signing is complete, return
                to the EasyChair web site.
            </p>
            <p>
                Please read instructions carefully. Submit IEEE eCF for each paper separately. After filling out the IEEE copyright form on eCF site, authors need to
                download the form.
            </p>

            <p>
                <b>(4) Submission :</b>
                <br><br>
                Please prepare your revised paper’s IEEE compliant PDF file (with file name: Paper-PID, for example, Paper-12 if your paper ID is 12) along with the eCF’s
                pdf file (with file name: eCF-PID, for example, eCF-12 if your paper ID is 12).
            </p>
            <p>
                If you have not submitted the camera-ready version of your paper and/or the Electronic Copyright Form (eCF) yet, please submit by the 19th Nov 2021.
                Please remember, this is a firm deadline.
            </p>
            <p style="font-weight: 600">
                Please submit your source file (doc/docx/Latex), camera ready PDF (checked by IEEE PDF-eXpress) and eCF in <span style="color: #ec0000">Zip format</span>.
                No other format is acceptable by the submission system.
            </p>
            <p style="font-weight: 600">
                The submission system will be closed at <span style="color: #ec0000">11.59. P.M. BST</span> on <span style="color: #ec0000">19th Nov 2021.</span>
            </p>

        </div>

        {% include 'others/right_sidebar.html' %}
    </div>
</div>

{% include 'others/footer.html' %}