{% load static %}
{% include 'others/header.html' %}
<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}

        <!-- Content Column -->
        <div class="col-md-6">

            <h2 class="section_h text-center">Contact</h2>
            <div class="row">
                <p style="font-size: 18px;font-weight: 700;">Organized By</p>
                <div class="col-lg-8">
                    <p>
                        Electrical and Computer Engineering Department
                        <br>
                        North South University
                        <br>
                        Bashundhara, Dhaka-1229, Bangladesh
                        <br>
                        Phone: +880-2-55668200   |    Fax: +880-2-55668202
                        <br>
                    </p>
                </div>
            </div>
            <br><br><br>
            <div>
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-0" style="display: block;margin-left: 10px;margin-right: auto;">
                        <p class="text-left">
                            <span class="heavy_p">
                                Dr. Mohammad Rezaul Bari
                            </span>
                            <br>
                            Organizing Chair<br>
                            Associate Professor and Chair<br>
                            Electrical and Computer Engineering Department<br>
                            North South University, Bangladesh<br>
                            <a href="mailto:rezaul.bari@northsouth.edu">
                                <b>Email:</b> rezaul.bari@northsouth.edu
                            </a>
                            <br>
                            <b>Phone:</b> +88 02 55668200 Ext – 1501, 1564
                        </p>
                    </div>
                    <br>
                    <div class="col-md-0" style="display: block;margin-left: 10px;margin-right: auto;">
                        <p class="text-left">
                            <span class="heavy_p">
                                Dr. M. Rashedur Rahman
                            </span>
                            <br>
                            Organizing Co-Chair<br>
                            Professor and Graduate Coordinator<br>
                            Electrical and Computer Engineering Department<br>
                            North South University, Bangladesh<br>
                            <a href="mailto:rashedur.rahman@northsouth.edu">
                                <b>Email:</b> rashedur.rahman@northsouth.edu
                            </a>
                            <br>
                            <b>Phone:</b> +88 02 55668200 Ext – 1507
                        </p>
                    </div>
                </div>
            </div>
        </div>


        {% include 'others/right_sidebar.html' %}
    </div>
</div>

{% include 'others/footer.html' %}