{% load static %}
{% include 'others/header.html' %}
<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}


        <!-- Content Column -->
        <div class="col-md-6">

            <h2 class="section_h text-center">Important Dates</h2>
            <table class="table">
                <tbody>
                <tr style="font-size: 16px">
                    <th>
                        Event
                    </th>
                    <th>
                        Day
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
                <tr>
                    <td>
                        <b>Full Paper Submission</b><span style="color: red"> (Closed)</span>
                    </td>
                    <td>
                        Friday
                    </td>
                    <td>
                        <span style="text-decoration: line-through;">September 14, 2021</span>
                        <br>
                        <span style="color: red">11:59 PM, October 01, 2021 BST
                            <br> (Bangladesh Standard Time)
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Notification of Acceptance</b>
                    </td>
                    <td>
                        Friday
                    </td>
                    <td>
                        November 05, 2021
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Camera Ready Submission</b>
                    </td>
                    <td>
                        Friday
                    </td>
                    <td>
                        November 19, 2021
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Conference Dates</b>
                    </td>
                    <td>
                        Saturday - Monday
                    </td>
                    <td>
                        December 18 - 20, 2021
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        {% include 'others/right_sidebar.html' %}
    </div>
</div>

{% include 'others/footer.html' %}