{% load static %}
{% include 'others/header.html' %}
<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}


        <!-- Content Column -->
        <div class="col-md-6">

            <h2 class="section_h text-center">Organizing Committee</h2>
            <div class="committee">

                <b class="tag">Chair</b><br>
                <ul>
                    <li>
                        <b>Dr. Rezaul Bari</b><br>
                        North South University, Bangladesh
                    </li>
                </ul>

                <b class="tag">Co-Chair</b><br>
                <ul>
                    <li>
                        <b>Dr. Rashedur Rahman</b><br>
                        North South University, Bangladesh
                    </li>
                </ul>

                <b class="tag">Secretary</b><br>
                <ul>
                    <li>
                        <b>Dr. Mohammad Abdul Matin</b><br>
                        North South University, Bangladesh
                    </li>
                </ul>

                <ul>
                    <b class="tag">A. Finance Subcommittee</b>
                    <li>Chair: Dr. Shazzad Hossain, ECE, NSU</li>
                    <li>Co-Chair: Mohammad Sayed Ahmed, FCA, Director, Finance & Accounts, NSU</li>
                    <b class="tag">Members:</b>
                    <div class="sub-committee">
                        <li>Dr. Tanzilur Rahman, ECE, NSU</li>
                        <li>Dr. Md Shahriar Karim, ECE, NSU</li>
                        <li>Ms. Ashfia Binte Habib, ECE, NSU</li>
                        <li>Mr. Ramiz Uddin, Finance & Accounts, NSU</li>
                        <li>Mr. Tanvir Ahmed Khan, Finance & Accounts, NSU</li>
                    </div>
                </ul>
                <ul>
                    <b class="tag">B. Publicity and Media Relation Subcommittee</b>
                    <li>Chair: Dr. Kazi Mohammad Abdus Salam, ECE, NSU</li>
                    <li>Co-Chair: Jamil Ahmed, Director, Public Relations Office, NSU</li>
                    <b class="tag">Members:</b>
                    <div class="sub-committee">
                        <li>Dr. Mohammad Monirujjaman Khan, ECE, NSU</li>
                        <li>Dr. Shahnewaz Siddique, ECE, NSU</li>
                        <li>Mr. Syed Fateh Ali Kastur, ECE, NSU</li>
                        <li>Ms. Silvia Ahmed, Lecturer, ECE, NSU</li>
                    </div>
                </ul>
                <ul>
                    <b class="tag">C. Logistics Subcommittee</b>
                    <li>Chair: Dr. Hafiz Abdur Rahman, ECE, NSU</li>
                    <li>Co-Chair: Mohammad Zahid Hossain, Director, Operation and Maintenance</li>
                    <b class="tag">Members:</b>
                    <div class="sub-committee">
                        <li>Dr. Atiqur Rahman, ECE, NSU</li>
                        <li>Dr. Sifat Momen, ECE, NSU</li>
                        <li>Dr. Mahdy Rahman Chowdhury, ECE, NSU</li>
                        <li>Dr. Mohammad Ashrafuzzaman Khan, ECE, NSU</li>
                        <li>Mr. Iqbalur Rahman Rokon, Senior Lecturer, ECE, NSU</li>
                    </div>
                </ul>
                <ul>
                    <b class="tag">D. Registration Subcommittee</b>
                    <li>Chair: Dr. Rajesh Palit, ECE, NSU</li>
                    <li>Co-Chair: Dr. Nabeel Mohammed, ECE, NSU</li>
                    <b class="tag">Members:</b>
                    <div class="sub-committee">
                        <li>Dr. Nabil Shovon Ashraf, ECE, NSU</li>
                        <li>Mr. Abu Obaidah, ECE, NSU</li>
                        <li>Mr. Saidur Rahman, Senior Program Officer, ECE, NSU</li>
                    </div>
                </ul>
                <ul>
                    <b class="tag">E. Publication Subcommittee</b>
                    <li>Chair: Dr Lamia Iftekhar, ECE, NSU</li>
                    <li>Co-Chair: Dr. Shohana Rahman Deeba, ECE, NSU</li>
                    <b class="tag">Members:</b>
                    <div class="sub-committee">
                        <li>Dr. Ahsanur Rahman, ECE, NSU</li>
                        <li>Dr. Riasat Khan, ECE, NSU</li>
                        <li>Dr. Dihan Md Nuruddin Hasan, ECE, NSU</li>
                        <li>Dr. Shafin Rahman, ECE, NSU</li>
                        <li>Shahriar Raj, Lecturer, Architecture, NSU</li>
                        <li>Md. Shahriar Hussain, ECE, NSU</li>
                    </div>
                </ul>
                <ul>
                    <b class="tag">F. Workshop and Tutorial Subcommittee</b>
                    <li>Chair: Dr. Nafisa Noor, ECE, NSU</li>
                    <li>Co-Chair: Md. Naqib Imtiaz Hussain, ECE, NSU</li>
                    <b class="tag">Members:</b>
                    <div class="sub-committee">
                        <li>Dr. Ziaul Hossain, ECE, NSU</li>
                        <li>Ms. Tanzilah Noor Shabnam, ECE, NSU</li>
                        <li>Mr. Kazi Injamam Ul Haque </li>
                    </div>
                </ul>
                <ul>
                    <b class="tag">G. Industrial Forum and Exhibition Subcommittee</b>
                    <li>Chair: Dr. M. Rokunuzzaman, ECE, NSU</li>
                    <li>Co-Chair: Shaikh Shawon Arefin Shimon, ECE, NSU</li>
                    <b class="tag">Members:</b>
                    <div class="sub-committee">
                        <li>Ms. Tanjila Farah, ECE, NSU</li>
                        <li>Ms. Syeda Sarita Hassan, ECE, NSU</li>
                        <li>Ms. Meem Tasfia Zaman, ECE, NSU</li>
                        <li>Mr. Ahmed Fahmin, ECE, NSU</li>
                        <li>Mr. Rifat Ahmed Hassan, ECE, NSU</li>
                    </div>
                </ul>
                <ul>
                    <b class="tag">H. Web and IT Support Subcommittee</b>
                    <li>Chair: Mahbubul Haq Sarker, Director, IT, NSU</li>
                    <li>Co-Chair: Mr. Mirza Lutfe Elahi, ECE, NSU</li>
                    <b class="tag">Members:</b>
                    <div class="sub-committee">
                        <li>Mr. Md.Rashed Mazumder, Network Manager, IT, NSU</li>
                        <li>Md. Mujibar Rahman, IT, NSU</li>
                        <li>Md. Mehedi Hasan, Student, ECE, NSU</li>
                        <li>Mayesha Tafannum, Student, ECE, NSU</li>
                        <li>Towsif Muhtadi Khan, Student, ECE, NSU</li>
                        <li>Razib Ahsan, Student, ECE, NSU</li>
                        <li>Alamin Ashik, Student, ECE, NSU</li>
                    </div>
                </ul>
            </div>
        </div>

        {% include 'others/right_sidebar.html' %}
    </div>
</div>

{% include 'others/footer.html' %}