{% load static %}
{% include 'others/header.html' %}
<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}

        <!-- Content Column -->
        <div class="col-md-6">

            <h2 class="section_h text-center">Paper Submission Guidelines</h2>
            <p>
                Authors are invited to submit their original, unpublished papers electronically (PDF format using the
                IEEE conference template) through conference website. Paper submissions should be limited to a maximum
                of six (6) pages, in the IEEE 2-column format including figures and references. All submissions will be
                reviewed double-blind by the Program Committee on the basis of technical quality, originality, and
                clarity of presentation.
            </p>

            <p>
                <b>Double-Blind Paper:</b><br>
                The authors should not include their names, affiliations, postal addresses,
                and email addresses in the initial manuscript. If it is not maintained the manuscript will be
                immediately rejected.
            </p>
            <p>
                <b>Manuscript Template:</b><br>
                Submissions must follow standard IEEE conference templates (Please download and use A4 Size Template).
                The manuscript template is provided in the following links:
            </p>
            <p>
                <a href="https://www.ieee.org/content/dam/ieee-org/ieee/web/org/conferences/Conference-template-A4.doc">
                    MS Word (A4)
                </a>
                <br>
                <a href="https://www.ieee.org/content/dam/ieee-org/ieee/web/org/conferences/Conference-LaTeX-template_7-9-18.zip">
                    Latex
                </a>
            </p>
            <p>
                For more information visit
                <a href="http://www.ieee.org/conferences_events/conferences/publishing/templates.html">
                    IEEE Conference Templates.
                </a>
            </p>
            <p>
                <b>EasyChair Submission:</b><br>
                Each paper needs to be submitted electronically as a single PDF file through EasyChair Submission Link
            </p>
            <div class="text-center">
                <button style="background: #1a265c; width: 180px; height: 40px; border-radius: 10px">
                    <a class="text-center" style="color: white" href="https://easychair.org/conferences/?conf=iccit20210">
                        Submission
                    </a>
                </button>
                <br><br><br>
            </div>
        </div>

        {% include 'others/right_sidebar.html' %}
    </div>
</div>

{% include 'others/footer.html' %}