{% load static %}
{% include 'others/header.html' %}
<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}


        <!-- Content Column -->
        <div class="col-md-6">

            <h2 class="section_h text-center">Plagiarism</h2>

            <p>
                <b>Plagiarism:</b>
                All conference papers submitted to ICCIT 2021 for publication must record original work
                which has not been published previously. Any alleged cases of plagiarism will be dealt with according to
                the ICCIT and IEEE Policy in relation to Plagiarism, Infringement of Copyright and Infringement of Moral
                Rights and Submission to Multiple Publications outlets.
                <br><br>
                <b>Multiple submissions:</b>
                ICCIT and IEEE do not permit manuscripts included in its conference proceedings to
                be simultaneously under review for another conference, journal, or other forms of publication. Once a
                case of multiple submissions has been established, the paper(s) in question will be immediately declined
                for publication by the ICCIT and IEEE followed by appropriate disciplinary action (including
                notification to the author’s affiliated institution).
            </p>
        </div>

        {% include 'others/right_sidebar.html' %}
    </div>
</div>

{% include 'others/footer.html' %}