{% load static %}
{% include 'others/header.html' %}
<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}

        <!-- Content Column -->
        <div class="col-md-6">
            <p style="font-size: 17px">
                All ICCIT 2021 accepted and presented papers will be submitted for inclusion into IEEE Xplore (pending
                approval).
            </p>
            <h2 class="section_h text-center">Previous Publications</h2>
            <!-- First Row -->
            <div class="container-fluid" style="background: #1a265c; border-radius: 5px">
                <br>

                <div class="col-lg-4 card">
                    <div class="panel panel-default text-center">
                        <p class="text-center">
                            <a href="https://ieeexplore.ieee.org/xpl/conhome/9392385/proceeding"
                               class="btn text-center" target="_blank">
                                <img class="img-responsive" style="width: 150px"
                                     src="{% static 'images/ieee_library.png' %}">
                            </a>
                        </p>
                        <h4>ICCIT 2020</h4>
                        <a href="https://ieeexplore.ieee.org/xpl/conhome/9392385/proceeding"
                           class="btn btn-primary text-center" target="_blank">
                            <b>DOI</b>
                            Click here
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 card">
                    <div class="panel panel-default text-center">
                        <p class="text-center">
                            <a href="https://ieeexplore.ieee.org/xpl/conhome/9033488/proceeding" class="btn text-center"
                               target="_blank">
                                <img class="img-responsive" style="width: 150px"
                                     src="{% static 'images/ieee_library.png' %}">
                            </a>
                        </p>
                        <h4>ICCIT 2019</h4>
                        <a href="https://ieeexplore.ieee.org/xpl/conhome/9033488/proceeding"
                           class="btn btn-primary text-center" target="_blank">
                            <b>DOI</b>
                            Click here
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 card">
                    <div class="panel panel-default text-center">
                        <p class="text-center">
                            <a href="https://ieeexplore.ieee.org/xpl/conhome/8624260/proceeding" class="btn text-center"
                               target="_blank">
                                <img class="img-responsive" style="width: 150px"
                                     src="{% static 'images/ieee_library.png' %}">
                            </a>
                        </p>
                        <h4>ICCIT 2018</h4>
                        <a href="https://ieeexplore.ieee.org/xpl/conhome/8624260/proceeding"
                           class="btn btn-primary text-center" target="_blank">
                            <b>DOI</b>
                            Click here
                        </a>
                    </div>
                </div>
                <!-- Second Row -->
                <div class="col-lg-4 card">
                    <div class="panel panel-default text-center">
                        <p class="text-center">
                            <a href="https://ieeexplore.ieee.org/xpl/conhome/8270721/proceeding" class="btn text-center"
                               target="_blank">
                                <img class="img-responsive" style="width: 150px"
                                     src="{% static 'images/ieee_library.png' %}">
                            </a>
                        </p>
                        <h4>ICCIT 2017</h4>
                        <a href="https://ieeexplore.ieee.org/xpl/conhome/8270721/proceeding"
                           class="btn btn-primary text-center" target="_blank">
                            <b>DOI</b>
                            Click here
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 card">
                    <div class="panel panel-default text-center">
                        <p class="text-center">
                            <a href="https://ieeexplore.ieee.org/xpl/conhome/7854082/proceeding" class="btn text-center"
                               target="_blank">
                                <img class="img-responsive" style="width: 150px"
                                     src="{% static 'images/ieee_library.png' %}">
                            </a>
                        </p>
                        <h4>ICCIT 2016</h4>
                        <a href="https://ieeexplore.ieee.org/xpl/conhome/7854082/proceeding"
                           class="btn btn-primary text-center" target="_blank">
                            <b>DOI</b>
                            Click here
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 card">
                    <div class="panel panel-default text-center">
                        <p class="text-center">
                            <a href="https://ieeexplore.ieee.org/xpl/conhome/7482923/proceeding" class="btn text-center"
                               target="_blank">
                                <img class="img-responsive" style="width: 150px"
                                     src="{% static 'images/ieee_library.png' %}">
                            </a>
                        </p>
                        <h4>ICCIT 2015</h4>
                        <a href="https://ieeexplore.ieee.org/xpl/conhome/7482923/proceeding"
                           class="btn btn-primary text-center" target="_blank">
                            <b>DOI</b>
                            Click here
                        </a>
                    </div>
                </div>
                <!-- Third Row -->
                <div class="col-lg-4 card">
                    <div class="panel panel-default text-center">
                        <p class="text-center">
                            <a href="https://ieeexplore.ieee.org/xpl/conhome/7063711/proceeding" class="btn text-center"
                               target="_blank">
                                <img class="img-responsive" style="width: 150px"
                                     src="{% static 'images/ieee_library.png' %}">
                            </a>
                        </p>
                        <h4>ICCIT 2014</h4>
                        <a href="https://ieeexplore.ieee.org/xpl/conhome/7063711/proceeding"
                           class="btn btn-primary text-center" target="_blank">
                            <b>DOI</b>
                            Click here
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 card">
                    <div class="panel panel-default text-center">
                        <p class="text-center">
                            <a href="https://ieeexplore.ieee.org/xpl/conhome/6978153/proceeding" class="btn text-center"
                               target="_blank">
                                <img class="img-responsive" style="width: 150px"
                                     src="{% static 'images/ieee_library.png' %}">
                            </a>
                        </p>
                        <h4>ICCIT 2013</h4>
                        <a href="https://ieeexplore.ieee.org/xpl/conhome/6978153/proceeding"
                           class="btn btn-primary text-center" target="_blank">
                            <b>DOI</b>
                            Click here
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 card">
                    <div class="panel panel-default text-center">
                        <p class="text-center">
                            <a href="https://ieeexplore.ieee.org/xpl/conhome/6504850/proceeding" class="btn text-center"
                               target="_blank">
                                <img class="img-responsive" style="width: 150px"
                                     src="{% static 'images/ieee_library.png' %}">
                            </a>
                        </p>
                        <h4>ICCIT 2012</h4>
                        <a href="https://ieeexplore.ieee.org/xpl/conhome/6504850/proceeding"
                           class="btn btn-primary text-center" target="_blank">
                            <b>DOI</b>
                            Click here
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
        {% include 'others/right_sidebar.html' %}
    </div>
</div>
{% include 'others/footer.html' %}