{% load static %}
{% include 'others/header.html' %}
<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}

        <!-- Content Column -->
        <div class="col-md-6">

            <h2 class="section_h text-center">Registration</h2>
            <b style="font-size: 16px">Registration and Presentation of Accepted Paper:</b>
            <br><br>
            <p>
                A paper will appear in the conference proceedings, only if at least one of the authors registers and
                presents the paper at the conference.
                <br><br>
                The following registration fees are applied to the accepted papers.
            </p>
            <table class="table">
                <tbody>
                <tr style="font-size: 16px">
                    <th>
                        Category
                    </th>
                    <th class="text-center">
                        Local (BDT)
                    </th>
                    <th class="text-center">
                        Foreigner (USD)
                    </th>
                </tr>
                <tr>
                    <td>
                        <b>IEEE Member</b>
                    </td>
                    <td class="text-center">
                        3000
                    </td>
                    <td class="text-center">
                        150
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Non-IEEE Member</b>
                    </td>
                    <td class="text-center">
                        4500
                    </td>
                    <td class="text-center">
                        200
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>IEEE Student Member</b>
                    </td>
                    <td class="text-center">
                        1800
                    </td>
                    <td class="text-center">
                        125
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Non-IEEE Student Member</b>
                    </td>
                    <td class="text-center">
                        2500
                    </td>
                    <td class="text-center">
                        175
                    </td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                </tr>
                </tbody>
            </table>
            <br>
            <div>
                <p>
                    * Student ID card is the proof of studentship (the subsidized registration fee is applicable only for students whose ID card’s validity period is at
                    least up
                    to 19 November 2021).
                </p>
                <p>
                    ** Proof of IEEE membership is the IEEE membership number<br>
                </p>
            </div>
            <div>
                <b style="font-weight: 600;text-decoration: underline">
                    Conference Bank account details for registration fee:
                </b>
                <br><br>
                <p style="padding-left: 25px">
                    Name of the Client: North South University<br>
                    Account Number: 0051-13100000001<br>
                    Bank Name: Southeast Bank Limited<br>
                    Branch : Bashundhara Branch<br>
                    Routing Number: 205260553<br>
                    Bank Swift Code: SEBDBDDH<br>
                    Bank Address: Plot # 142. Safwan Road, Block #B<br>
                    Bashundhara R/ A. Dhaka-1229. Bangladesh Tel. +88 02 8431034-35,<br>
                    Fax: +88 02 8431033
                </p>
                <p>
                    During deposition in the bank, please write ICCIT-PID (For example, if 12 is your paper ID then you should write ICCIT-12) in the remarks column of
                    the deposit slip of bank.
                    <span style="color: #ec0000; font-weight: 600">Please ask the bank officer to input your paper ID in their online system.</span>
                </p>
                <p>
                    For each paper each presenting author should make a single pdf (for example for paper 12, save it as 12.pdf) with the following:
                </p>
                <ol>
                    <li>Proof of Payment</li>
                    <li>Scanned Copy of Student ID Card (if applicable)</li>
                    <li>IEEE Membership (if applicable)</li>
                </ol>
            </div>
            <div>
                <p style="font-weight: 600">
                    Submission Method:
                </p>
                Each of the accepted papers should have a MP4 presentation video (maximum 10 minutes and maximum 250 MB size). Please save it as Paper_ID.mp4 (for example
                for paper 12, save it as 12.mp4). A presenter must register and upload MP4 video link (for example, Google Drive or Drop Box link) and provide it in
                <a href="https://docs.google.com/forms/d/1BzajeD7yN9-xCdAoSF5SpcqmGhUifE47qk1D1AjB-vU/viewform" target="_blank" style="font-weight: 600">Google Form</a>.
                This video will be played during the technical session but the presenter must take part in the interactive Q&amp;A session.
                <p>
                    <br>The deadline of payment and presentar registration with mp4 video link is
                    <span style="color: #ec0000; font-weight: 600">19 Nov, 11:59 PM Bangladesh Standard Time (BST), 2021</span>
                </p>
                <p>
                    The payment confirmation will be emailed to the corresponding author from the EasyChair Submission System after 28th November, 2021.
                </p>
            </div>

        </div>
        {% include 'others/right_sidebar.html' %}
    </div>
</div>

{% include 'others/footer.html' %}