{% load static %}
{% include 'others/header.html' %}
<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}


        <!-- Content Column -->
        <div class="col-md-6">

            <h2 class="section_h text-center">Research Integrity Committee</h2>
            <div class="committee">
                <ul>
                    <li>
                        <b>Dr. M. A. Karim</b> <br>
                        University of Massachusetts, Dartmouth, USA
                    </li>
                    <li>
                        <b>Prof. Dr. M. S. Alam</b> <br>
                        Texas A&amp;M University – Kingsville, USA
                    </li>
                    <li>
                        <b>Dr. Syed Kamrul Islam</b> <br>
                        University of Missouri – Columbia, USA
                    </li>
                </ul>

            </div>
        </div>

        {% include 'others/right_sidebar.html' %}
    </div>
</div>

{% include 'others/footer.html' %}