{% load static %}
{% include 'others/header.html' %}
<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">

        {% include 'others/left_sidebar.html' %}

        <!-- Content Column -->
        <div class="col-md-6">

            <h2 class="section_h text-center">Technical Committee</h2>
            <div class="committee">
                <b class="tag">Chair</b>
                <ul>
                    <li><b>Dr. Mohammad S. Alam</b>, Texas A&M University – Kingsville, Texas, USA<br></li>
                </ul>
            </div>
            <div class="committee">
                <b class="tag">Members</b>
                <ul>
                    <li><b>Dr. A. H. M. Zahirul Alam</b>, International Islamic University Malaysia, Malaysia<br></li>
                    <li><b>Dr. Md. Atiqur Rahman Ahad</b>, Dhaka University, Bangladesh<br></li>
                    <li><b>Dr. Iftekhar Ahmad</b>, Edith Cowan University, Australia<br></li>
                    <li><b>Dr. Emdad Ahmed</b>, Kennesaw State University, USA<br></li>
                    <li><b>Dr. Farid Ahmed</b>, John Hopkins University, USA<br></li>
                    <li><b>Dr. M. Ferdous Alam</b>, Broadcom Limited, USA<br></li>
                    <li><b>Prof. Mohammad S. Alam</b>, Texas A&M University - Kingsville, USA<br></li>
                    <li><b>Prof. Muhammad Ashraful Alam</b>, Purdue University, USA<br></li>
                    <li><b>Prof. Ayman Alfalou</b>, University of Brittany, France<br></li>
                    <li><b>Dr. Mazen Al-Khatib</b>, Colorado Technical University, USA<br></li>
                    <li><b>Dr. Abdul Rahman Alsamman</b>, University of New orleans, USA<br></li>
                    <li><b>Dr. Salim Alsharif</b>, Tennessee Technological University, USA<br></li>
                    <li><b>Dr. Habib Ammari</b>, Texas A&m University - Kingsville, USA<br></li>
                    <li><b>Dr. Abu Asaduzzaman</b>, Wichita State University, USA<br></li>
                    <li><b>Prof. Vijayan Asari</b>, University of Dayton, USA<br></li>
                    <li><b>Dr. Melih Aslan</b>, Perceptics, USA<br></li>
                    <li><b>Prof. Mohammed Atiquzzaman</b>, University of Oklahoma, USA<br></li>
                    <li><b>Dr. A. B. M. Shafiul Azam</b>, Lansing Board of Water and Light, MI, USA<br></li>
                    <li><b>Dr. Hanif Azhar</b>, Vanier College, Montreal, Canada<br></li>
                    <li><b>Dr. S. Mahfuz Aziz</b>, University of South Australia, Australia<br></li>
                    <li><b>Dr. Sharif Bhuiyan</b>, BAE Systems, Inc USA<br></li>
                    <li><b>Dr. Zakirul Alam Bhuiyan</b>, Fordham University, USA<br></li>
                    <li><b>Abdur R.B. Billah</b>, Oracle Corporation, USA<br></li>
                    <li><b>Dr. Arshad Chowdhury</b>, BRAC University, Bangladesh<br></li>
                    <li><b>Dr. M. M. R. Chowdhury</b>, ABB OIl, Gas and Chemicals, ABB AS, Norway<br></li>
                    <li><b>M. Ali Akber Dewan</b>, Athabasca University, Canada<br></li>
                    <li><b>Dr. Prakash Duraisamy</b>, University of South Alabama, USA<br></li>
                    <li><b>Dr. Mohamed I. Elbakary</b>, Elizabeth City State University, USA<br></li>
                    <li><b>Dr. M. Yusef El-Sharkh</b>, University of South Alabama, USA<br></li>
                    <li><b>Dr. Omar Farooq</b>, Aligarh Muslim University, India<br></li>
                    <li><b>Dr. Norman Gholson</b>, Leidos Inc. (and University of South Alabama), USA<br></li>
                    <li><b>Prof. Abul Haque</b>, Presidency University, Bangladesh<br></li>
                    <li><b>Prof. M. M. A. Hashem</b>, Khulna University of Engineering and Technology, Bangladesh<br></li>
                    <li><b>Dr. Jing He</b>, Kennesaw State University, USA<br></li>
                    <li><b>Dr. M. Tamjidul Hoque</b>, University of New Orleans, USA<br></li>
                    <li><b>Afzal Hossain</b>, Military Institute of Science and Technology, Bangladesh<br></li>
                    <li><b>Dr. Afzal Hossain</b>, Nanova Corporation, USA<br></li>
                    <li><b>Dr. M. Julius Hossain</b>, European Molecular Biology Laboratory, Germany<br></li>
                    <li><b>Prof. Alamgir Hossain</b>, Anglia Ruskin University, United Kingdom<br></li>
                    <li><b>Dr. Shahera Hossain</b>, University of Asia-Pacific, Bangladesh<br></li>
                    <li><b>Dr. Khan M. Iftekharuddin</b>, Old Dominion University, USA<br></li>
                    <li><b>Dr. Mohammed N. Islam</b>, State University of New York at Farmingdale, USA<br></li>
                    <li><b>Dr. Salekul Islam</b>, United International University, Bangladesh<br></li>
                    <li><b>Prof. Syed Kamrul Islam</b>, University of Missouri - Columbia, USA<br></li>
                    <li><b>Md. Rafiqul Islam</b>, Not specified, Malaysia<br></li>
                    <li><b>Dr. Abusaleh M. Jabir</b>, Oxford Brookes University, United Kingdom<br></li>
                    <li><b>Dr. Kazi A Kalpoma</b>, Ahsanullah University of Science and Technology, Bangladesh<br></li>
                    <li><b>Dr. Joarder Kamruzzaman</b>, Federation University, Australia<br></li>
                    <li><b>Dr. Dulal Kar</b>, Texas A&M University - Corpus Christi, USA<br></li>
                    <li><b>Prof. Mohammad A. Karim</b>, University of Massachusetts - Dartmouth, USA<br></li>
                    <li><b>Dr. Gour Karmakar</b>, Monash University, Australia<br></li>
                    <li><b>Dr. Jesmin Farzana Khan</b>, Tuskegee University, USA<br></li>
                    <li><b>Prof. Javed I. Khan</b>, Kent State University, USA<br></li>
                    <li><b>Prof. Latifur Khan</b>, University of Texas - Dallas, USA<br></li>
                    <li><b>Prof. M. Rezwan Khan</b>, United International University, Bangladesh<br></li>
                    <li><b>Dr. Saeed Latif</b>, University of South Alabama, USA<br></li>
                    <li><b>Dr. Georgios Lazarou</b>, Texas A&M University - Kingsville, USA<br></li>
                    <li><b>Prof. Dr. Satya P. Majumder</b>, Bangladesh University of Engineering and Technology, Bangladesh<br></li>
                    <li><b>Prof. Dr. Celia Shahnaz</b>, Bangladesh University of Engineering and Technology, Bangladesh<br></li>
                    <li><b>Prof. Dr. Shaikh A. Fattah</b>, Bangladesh University of Engineering and Technology, Bangladesh<br></li>
                    <li><b>Dr. Md. Abdul Maleq Khan</b>, Texas A&M University - Kingsville, USA<br></li>
                    <li><b>Dr. Mariofanna Milanova</b>, University of Arkansas at Little Rock, USA<br></li>
                    <li><b>Md. Moniruzzaman</b>, Nfina Technologies,Inc. ,USA<br></li>
                    <li><b>Dr. Raqibul Mostafa</b>, United International University, Bangladesh<br></li>
                    <li><b>Dr. Al-Sakib Khan Pathan</b>, Independent University, Bangladesh<br></li>
                    <li><b>Dr. Asfaqur Rahman</b>, CSIRO, Australia<br></li>
                    <li><b>Prof. Abdul Wahab A. Rahman</b>, International Islamic University malaysia, Malaysia<br></li>
                    <li><b>Dr. Md. Rahman</b>, Texas A&m University - Kingsville, USA<br></li>
                    <li><b>Prof. M. A. Rashid</b>, Massey University, New Zealand<br></li>
                    <li><b>Prof. Muhammad H. Rashid</b>, Florida Polytechnic University, USA<br></li>
                    <li><b>Dr. Saad Rehman</b>, HITEC University, Pakistan<br></li>
                    <li><b>Dr. Ahmed Y. Saber</b>, ETAP, USA<br></li>
                    <li><b>Dr. Mohammad A. Salam</b>, Southern University and A&M College, USA<br></li>
                    <li><b>Dr. Jun	Sang</b>, Chongqing University, China<br></li>
                    <li><b>Prof. Nong Sang</b>, Huazhong University of Science and Technology, China<br></li>
                    <li><b>Prof. Mohammad Saquib</b>, University of Texas at Dallas, USA<br></li>
                    <li><b>Dr. Nurul I. Sarkar</b>, Auckland University of Technology, New Zealand<br></li>
                    <li><b>Dr. Chowdhury Shahriar</b>, Virginia Tech, USA<br></li>
                    <li><b>Prof. Timothy Shih</b>, National Central University, Taiwan<br></li>
                    <li><b>Dr. Paheding Sidike</b>, Michigan Technological University, USA<br></li>
                    <li><b>Dr. Nurhijat Sisworahardjo</b>, University of Tennessee - Chattanooga, USA<br></li>
                    <li><b>Dr. Ferdous A. Sohel</b>, Murdoch University, Australia<br></li>
                    <li><b>Dr. Edmund Spencer</b>, University of South Alabama, USA<br></li>
                    <li><b>Prof. Khan Wahid</b>, University of Saskacthewan, Canada<br></li>
                    <li><b>Prof. Tankut Yalcinoz</b>, University of Stuttgart, Germany<br></li>
                    <li><b>Dr. Rupert Young</b>, University of Sussex, United Kingdom<br></li>
                    <li><b>Dr. S. M. S. Zabir</b>, National Institute of Technology, Tsuruoka College, Japan<br></li>
                    <li><b>Prof. Shuqun Zhang</b>, College of Staten Island of CUNY, USA<br></li>
                    <li><b>Dr. Muhibul Haque Bhuyan</b>, Southeast University, Bangladesh<br></li>
                    <li><b>Dr. Mohammad Rezaul Bari</b>, North South University, Bangladesh<br></li>
                    <li><b>Dr. K.M.A Salam</b>, North South University, Bangladesh<br></li>
                    <li><b>Dr. Mohammad Rashedur Rahman</b>, North South University, Bangladesh<br></li>
                    <li><b>Dr. Hafiz Abdur Rahman</b>, North South University, Bangladesh<br></li>
                    <li><b>Dr. Mohammad Abdul Matin</b>, North South University, Bangladesh<br></li>
                    <li><b>Dr. Lamia Iftekhar</b>, North South University, Bangladesh<br></li>
                    <li><b>Dr. Shohana Rahman Deeba</b>, North South University, Bangladesh<br></li>
                    <li><b>Dr. Riasat Khan</b>, North South University, Bangladesh<br></li>
                    <li><b>Dr. Nafisa Noor</b>, North South University, Bangladesh<br></li>
                    <li><b>Dr. Shafin Rahman</b>, North South University, Bangladesh<br></li>
                </ul>
            </div>
        </div>

        {% include 'others/right_sidebar.html' %}
    </div>
</div>

{% include 'others/footer.html' %}