{% load static %}

<div class="col-md-3">
    <div class="side_panel_top text-center">
        NOTICE
    </div>

    <div class="side_panel_body text-center">
        <a href="{% static 'files/ICCIT_Technical_Session_V2.pdf' %}">Technical Program Schedule</a>
        <hr class="menu_sep">
        <a href="{% static 'files/ICCIT_CFP_2021.pdf' %}">Call for Paper</a>
        <br>
        <hr class="menu_sep">
        <a href="https://easychair.org/conferences/?conf=iccit20210">
            EasyChair Submission
        </a>
        <p style="font-size: medium;"></p>


    </div>
    <div class="side_panel_top text-center">
        IMPORTANT DATES
    </div>
    <div class="side_panel_body text-center">
        <p style="color:red;font-size:13px;"></p>

        <table>
            <tbody>
            <tr>
                <td class="calendar_icon">
                    Oct <br> 01
                </td>
                <td class="event">
                    <span class="event_date">Full Paper Submission</span><span style="color: red"> (Closed)</span>
                    <br><span style="text-decoration: line-through;">September 14, 2021</span>
                    <br> <span style="color: red">11:59 PM, October 01, 2021 BST
                    <br> (Bangladesh Standard Time)
                </span>
                </td>
            </tr>
            </tbody>
        </table>
        <hr>
        <table>
            <tbody>
            <tr>
                <td class="calendar_icon">
                    Nov <br> 05
                </td>
                <td class="event">
                    <span class="event_date">Notification of Acceptance</span>
                    <br> November 05, 2021
                </td>
            </tr>
            </tbody>
        </table>
        <hr>
        <table>
            <tbody>
            <tr>
                <td class="calendar_icon">
                    Nov <br> 19
                </td>
                <td class="event">
                    <span class="event_date">Camera Ready Submission</span>
                    <br>November 19, 2021
                </td>
            </tr>
            </tbody>
        </table>
        <hr>
        <table>
            <tbody>
            <tr>
                <td class="calendar_icon">
                    Dec <br> 18-20
                </td>
                <td class="event">
                    <span class="event_date">Conference Dates</span>
                    <br>December 18-20, 2021
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="side_panel_top text-center">
        Conference General Chairs
    </div>
    <div class="side_panel_body">

        <div class="row" style="margin-bottom:10px;">
            <div class="col-md-6" style="padding-right:0;">
                <img src="{% static 'images/prof_m_a_karim.png' %}" width="94%" height="auto">
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="non_justified_type_2"><span class="heavy_p">Dr. Mohammad A. Karim </span><br>Fellow -
                    IEEE, IET, OSA, SPIE, IoP<br>
                    Provost and Chief Operating Officer<br>
                    University of Massachusetts, Dartmouth, USA
                </p>
            </div>
        </div>

        <div class="row" style="margin-bottom:10px;">
            <div class="col-md-6" style="padding-right:0;">
                <img width="94%" height="auto" src="{% static 'images/prof_m_s_alam.png' %}">
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="non_justified_type_2"><span class="heavy_p">Dr. Mohammad S. Alam</span><br>
                    Fellow - IEEE, IET, OSA, SPIE, IoP, IS&amp;T, IAPR, and AAAS<br>
                    Special Assistant to the Vice President for Research and Graduate Studies<br>
                    Professor, Department of Electrical Engineering and Computer Science<br>
                    Texas A&amp;M University, Kingsville, USA
                </p>
            </div>
        </div>
    </div>
</div>